// 사이트 레이아웃 관련 요소
#container {
    min-height: 100vh;
}
.bg-gray {
    background: $gray-5;
}

// grid layout
.inner {
    position: relative;
    width: 100%;
    max-width: 1340px;
    margin: 0 auto;
    padding: 0 $p-tablet;
    @include tablet {
        padding: 0 $p-mobile;
    }
}

// section layout
.sec-g {
    padding: 8vw 0;
    &__title {
        font-size: 4.8rem;
        margin-bottom: 8vw;
    }
    &__more {
        display: flex;
        align-items: center;
        gap: 15px;
        position: absolute;
        top: 20px;
        right: 30px;
        font-size: 2rem;
        &::after {
            content: '\f061';
            font-family: 'Line Awesome Free';
            font-weight: 900;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: #dbdbdb;
        }
    }
}
// #container에 flex / column / gap 으로 간격 줘도 됨
